@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --white: #0f1322;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0ae8;
    --background2: #0f1322;
    --white: #d1d0c5;
    --white-smoke: #646669;
  }
}

body {
  color: var(--white);
  background: var(--background2);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
